.box {
  display: flex;
  flex-wrap: wrap;

  margin-left: auto;
  margin-right: auto;

  width: 270px;
  height: 270px;
  border: solid, 2px, red;
}

.content {
  width: 88px;
  height: 88px;
  border: solid, 1px, rgb(4, 255, 0);
}
