.box {
  display: flex;

  margin: 50px 50px 50px 50px;
}

.content {
  width: 270px;
  margin: 0 auto;
  border: solid, 2px, red;
}

.item {
  display: inline-block;
  width: 88px;
  height: 88px;
  border: solid, 1px, rgb(4, 255, 0);

  font-size: 70px;
  text-align: center;
  vertical-align: middle;
}
