html {
  height: 100vh;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

body {
  background: radial-gradient(
    134.34% 134.34% at 50% 0%,
    #1f3757 0%,
    #131537 100%
  );

  padding: 32px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 12px 12px 24px;
  margin-bottom: 64px;

  border: 3px solid rgba(255, 255, 255, 0.289199);
  border-radius: 5px;
}

.counter {
  padding: 10px 16px;

  background: linear-gradient(0deg, #f3f3f3 0%, #ffffff 100%);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
  border-radius: 4px;
}

.score {
  font-family: "Barlow Semi Condensed";
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 1.5625px;

  color: #2a45c2;
}

.score-number {
  font-family: "Barlow Semi Condensed";
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  text-align: center;

  color: #565468;
}

.container {
  display: flex;
  justify-content: center;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  width: 312px;
  height: 305px;

  text-align: center;

  /* border: 1px solid #ccc; */
  background-image: url(../images/bg-pentagon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
}

.container-result {
  display: flex;
  gap: 50px;
  background-image: none;
}

.circle {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background: white;
}

.circle img {
  width: 40px;
  height: 40px;
}

.circle-result {
  position: relative;
  width: 130px;
  height: 130px;
  margin-bottom: 22px;
}

.circle-result img {
  width: 63px;
  height: 63px;
}

.description {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 1.875px;

  color: #ffffff;

  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.196706);
}

.scissors {
  border: 10px solid orange;
  box-shadow: 0 4px 0 #c76c1b;
}
.paper {
  border: 10px solid #29a8ff;
  box-shadow: 0 4px 0 #2a45c2;
}
.rock {
  border: 10px solid #e74c3c;
  box-shadow: 0 4px 0 #9d1634;
}
.lizard {
  border: 10px solid #9b59b6;
  box-shadow: 0 4px 0 #5f37a8;
}
.spock {
  border: 10px solid #3fb7cd;
  box-shadow: 0 4px 0 #2d8dab;
}

.scissors-result {
  border: 15px solid orange;
  box-shadow: 0 6px 0 #c76c1b;
}
.paper-result {
  border: 15px solid #29a8ff;
  box-shadow: 0 6px 0 #2a45c2;
}
.rock-result {
  border: 15px solid #e74c3c;
  box-shadow: 0 6px 0 #9d1634;
}
.lizard-result {
  border: 15px solid #9b59b6;
  box-shadow: 0 6px 0 #5f37a8;
}
.spock-result {
  border: 15px solid #3fb7cd;
  box-shadow: 0 6px 0 #2d8dab;
}
